<!--
 * @Author: liukun
 * @Date: 2023-09-26 13:33:14
 * @LastEditors: liukun
 * @LastEditTime: 2023-10-13 13:29:32
 * @FilePath: \501-aq-pro\src\app\chart\chart.component.html
 * @Description: 
 * 
-->
<div class="box">
  <div class="echarts-box mar_b_20">
    <div class="echarts-item mar_r_20">
      <div class="header"></div>
      <div echarts [options]="lineOptions" class="echarts"></div>
    </div>
    <div class="echarts-item">
      <div class="header"></div>
      <div echarts [options]="barOptions" class="echarts"></div>
    </div>
  </div>
  <div class="echarts-box">
    <div class="echarts-item mar_r_20">
      <div class="header"></div>
      <div echarts [options]="scatterOptions" class="echarts"></div>
    </div>
    <div class="echarts-item">
      <div class="header"></div>
      <div echarts [options]="perOptions" class="echarts"></div>
    </div>
  </div>
</div>
