<!--
 * @Author: liukun
 * @Date: 2023-09-26 13:33:14
 * @LastEditors: liukun
 * @LastEditTime: 2023-10-17 13:41:31
 * @FilePath: \501-aq-pro\src\app\dialog\dialog.component.html
 * @Description: 
 * 
-->
<div class="dialogBox">
  <nz-modal
    [(nzVisible)]="isVisible"
    (nzOnCancel)="isVisible = false"
    [nzFooter]="null"
    [nzClosable]="false"
    (nzAfterClose)="afterClose()"
    nzWidth="37%"
  >
    <ng-container *nzModalContent>
      <div
        class="dis-flex align-items flex-x-between mar_b_10 pad_h_10 content-header"
      >
        <!-- <span>XXXXXXX</span> -->
        <div class="col_f f-15 pad_l_30"></div>
        <div class="dis-flex">
          <div
            class="download-config-btn mar_r_10 pointer"
            (click)="downloadConfig()"
          >
            <span nz-icon nzType="download" nzTheme="outline"></span>下载设置
            <div class="arrows" *ngIf="showDownloadConfig"></div>
          </div>
          <div class="close pointer" (click)="isVisible = false">
            <span nz-icon nzType="close" nzTheme="outline"></span>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="table-header dis-flex pad_v_10">
          <div class="flex-box text-align">当前时间</div>
          <div class="flex-box text-align">操作</div>
        </div>
        <div class="table-body col_f">
          <div
            class="table-row dis-flex pad_v_5 align-items"
            *ngFor="let data of list; let i = index"
            [ngClass]="i % 2 === 0 ? 'zebra-color' : ''"
          >
            <div class="table-row-td flex-box text-align">
              {{ data.currenttime }}
            </div>
            <div class="table-row-td flex-box text-align">
              <span class="view-data pointer" (click)="preview(data.SimData)"
                >查看</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="mar_t_10 dis-flex flex-x-center pagination">
        <nz-pagination
          [nzPageIndex]="listQuery.pageIndex"
          [nzPageSize]="listQuery.pageSize"
          [nzTotal]="total"
          (nzPageIndexChange)="handleChangeIndex($event)"
          (nzPageSizeChange)="handleChangeSize($event)"
        ></nz-pagination>
      </div>
      <div
        class="download-config-box"
        [ngStyle]="{ display: showDownloadConfig ? 'block' : 'none' }"
      >
        <form nz-form [formGroup]="validateForm" class="form">
          <nz-form-item class="mar_b_10">
            <nz-form-label><span class="circle"></span> 时间筛选</nz-form-label>
            <nz-form-control class="picker-control">
              <nz-date-picker
                nzPlaceHolder="请选择开始时间"
                nzShowTime
                formControlName="startTime"
              ></nz-date-picker>
              <div class="divider"></div>
              <nz-date-picker
                nzPlaceHolder="请选择结束时间"
                nzShowTime
                formControlName="endTime"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="mar_b_10">
            <nz-form-label><span class="circle"></span>模型名称</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="18">
              <input
                formControlName="modelName"
                nz-input
                (keydown.enter)="search()"
                placeholder="请输入模型名称"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="mar_b_10">
            <nz-form-label><span class="circle"></span>关键字</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="18">
              <input
                formControlName="paramsName"
                nz-input
                (keydown.enter)="search()"
                placeholder="请输入关键字"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="mar_b_10">
            <nz-form-control>
              <div class="dis-flex flex-x-end" style="width: 100%">
                <button nz-button nzType="primary" (click)="search()">
                  <span nz-icon nzType="search"></span>
                  搜索
                </button>
              </div>
            </nz-form-control>
          </nz-form-item>
        </form>
        <div class="select-box" *ngFor="let item of selectList">
          <div class="header dis-flex">
            <div class="mar_r_10 dis-flex align-items">
              <span class="circle"></span>
              <span>{{ item.label }}</span>
              <nz-divider nzType="vertical"></nz-divider>
              <span>
                <label
                  nz-checkbox
                  [(ngModel)]="item.allChecked"
                  [nzDisabled]="!(item.list.length > 0)"
                  [nzIndeterminate]="item.indeterminate"
                  (ngModelChange)="updateAllChecked(item.id)"
                  style="color: #79bbff"
                >
                  选择全部
                </label></span
              >
            </div>
            <div class="divider"></div>
          </div>
          <div class="content">
            <nz-checkbox-wrapper
              class="dis-flex flex_wrap"
              (nzOnChange)="updateSingleChecked($event, item.id)"
            >
              <div
                class="item mar_r_20 mar_b_5"
                *ngFor="let checkItem of item.list"
              >
                <span class="mar_r_5 col_f f-8">{{ checkItem.label }}</span
                ><label
                  nz-checkbox
                  [nzValue]="checkItem.value"
                  [(ngModel)]="checkItem.checked"
                ></label>
              </div>
            </nz-checkbox-wrapper>
          </div>
        </div>
        <div class="download-btn-box dis-flex flex-x-center">
          <div
            class="download-config-btn pointer mar_r_20"
            (click)="downLoadFile('JSON')"
          >
            下载JSON文件
          </div>
          <div
            class="download-config-btn pointer"
            (click)="downLoadFile('CSV')"
          >
            下载CSV文件
          </div>
        </div>
      </div>
    </ng-container>
  </nz-modal>
  <nz-modal
    [(nzVisible)]="preVisible"
    (nzOnCancel)="preVisible = false"
    nzWidth="30%"
    [nzFooter]="null"
    (nzAfterOpen)="preAfterOpen()"
    [nzClosable]="false"
  >
    <ng-container *nzModalContent>
      <div id="editor"></div>
    </ng-container>
  </nz-modal>
</div>
