.treeBox {
  .title {
    text-align: center;
    width: 5.99vw;
    height: 2.24vw;
    line-height: 2.24vw;
    background: url("../../assets/image/treeHeader.png") no-repeat 0 0 / 100% 100%;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bolder;
  }
  .tree-content{
    background: url("../../assets/image/silder.png") no-repeat 0 0 / 100% 100%;
    height: calc(100% - 2.24vw);
    margin-top: -1.25vw;
    .ant-tree {
      padding: 10px;
      background: unset;
      color: #fff;
      height: 100%;
      overflow: auto;
      ::ng-deep .ant-tree-node-selected {
        background: unset;
        color: #20a0ff;
      }
      ::ng-deep .ant-tree-node-selected:hover {
        background: unset;
      }
      ::ng-deep .ant-tree-node-content-wrapper:hover {
        // color: #20a0ff;
        background: unset;
      }
      ::ng-deep .ant-tree-node-content-wrapper {
        width: 80%;
      }
      ::ng-deep .ant-tree-treenode:hover {
        background: #0f2239;
      }
    }
  }
  
}
.node-line {
  // width: 80%;
}
:host::ng-deep ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
:host::ng-deep ::-webkit-scrollbar-track {
  background: #0c1d36;
  border-radius: 4px;
}
:host::ng-deep ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #3d4a5e;
}
