.treeBox {
  .title {
    text-align: center;
    width: 5.99vw;
    height: 2.24vw;
    line-height: 2.24vw;
    background: url("../../assets/image/treeHeader.png") no-repeat 0 0 / 100% 100%;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bolder;
  }
  .tree-content{
    padding: 15px 0;
    background: url("../../assets/image/silder.png") no-repeat 0 0 / 100% 100%;
    height: calc(100% - 2.24vw + 1.24vw);
    margin-top: -1.25vw;
    .ant-tree {
      padding: 10px;
      background: unset;
      color: #fff;
      height: 100%;
      overflow: auto;
      ::ng-deep .ant-tree-node-selected {
        background: unset;
        color: #20a0ff;
      }
      ::ng-deep .ant-tree-node-selected:hover {
        background: unset;
      }
      ::ng-deep .ant-tree-node-content-wrapper:hover {
        // color: #20a0ff;
        background: unset;
      }
      ::ng-deep .ant-tree-node-content-wrapper {
        width: 80%;
      }
      ::ng-deep .ant-tree-treenode:hover {
        background: #0f2239;
      }
      ::ng-deep .ant-tree-switcher{
        background: none;
        line-height: 34px;
      }
    }
  }
  
}
.node-line {
  color: #a2d4f3;
  font-size: 0.833vw;
  border: 0.052vw #216180 solid;
  text-align: center;
  border-radius: 0.156vw;
  margin: 0.26vw 0;
  background: #0b1d2e;
}
