.border_r_5 { border-radius: 10px; }
.border_b { border-bottom: 1px solid #ddd; }
.border_t { border-top: 1px solid #ddd; }
.border_1676c6 { border: 1px solid #1676c6; }
.border_rad { border-radius: 50%; }
