.f-40 { font-size: 80px; }
.f-35 { font-size: 70px; }
.f-30 { font-size: 60px; }

.f-28 { font-size: 56px; }
.f-26 { font-size: 52px; }
.f-25 { font-size: 50px; }
.f-24 { font-size: 48px; }
.f-23 { font-size: 46px; }
.f-22 { font-size: 44px; }
.f-21 { font-size: 42px; }
.f-20 { font-size: 40px; }
.f-19 { font-size: 38px; }
.f-18 { font-size: 36px; }
.f-17 { font-size: 34px; }
.f-16 { font-size: 32px; }
.f-15 { font-size: 30px; }
.f-14 { font-size: 28px; }
.f-13 { font-size: 26px; }
.f-12 { font-size: 24px; }
.f-11 { font-size: 22px; }
.f-10 { font-size: 20px; }
.f-9 { font-size: 18px; }
.f-8 { font-size: 16px; }

.font_w_700 { font-weight: 700; }
.font_w_600 { font-weight: 600; }
.font_w_500 { font-weight: 500; }
