<!--
 * @Author: 老范
 * @Date: 2023-09-25 15:02:27
 * @LastEditors: 老范
 * @LastEditTime: 2023-10-12 15:21:26
 * @Description: 请填写简介
-->
<!-- <router-outlet> -->
<div class="mainBox">

  <div class="ProjectTitle">蓝方测控</div>
  <div class="componentBox">
    <div class="dis-flex pad_35 border_1676c6 border_r_5 height_100">
      <app-tree class="tree height_100 mar_r_30"></app-tree>
      <app-chart class="chart height_100"></app-chart>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-dialog></app-dialog>
</div>
<!-- </router-outlet> -->