.mainBox {
  width: 100vw;
  height: 100vh;
  background: url('../assets/image/boxBorder.png') no-repeat 0 0 / 100% 100%;
  .ProjectTitle {
    height: 3.385vw;
    background: url('../assets/image/header.png') no-repeat 0 0 / 100% 100%;
    text-align: center;
    font-size: 30px;
    line-height: 3.229vw;
    color: #fff;
  }
  .componentBox {
    height: calc(100% - 3.385vw);
    padding: 15px 20px;
  }
  .tree {
    width: 15.625vw;
  }
  .chart {
    width: calc(100% - 15.625vw - 30px);
  }
}
