@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import url('./assets/css/main.css');
:root{
  --font-color-white: white;
  --white: #fff;
  --border-rdius-5: 5px;
  --input-border-color: #4d7ec1;
  --avtive-bg-color: #1061bc;
  --input-bg-color: #194f99;
    ::-webkit-scrollbar {
        width: 0.417vw;
        height: 0.417vw;
      }
      ::-webkit-scrollbar-track {
        background: #0c1d36;
        border-radius: 0.208vw;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 0.208vw;
        background: #3d4a5e;
      }
}
.ant-pagination-item, 
.ant-pagination-prev, 
.ant-pagination-next {
  background: transparent;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-rdius-5);
  a, button{
    color: var(--font-color-white);
  }
  .ant-pagination-item-link{
    background: transparent;
    border: unset;
  }
}
.ant-pagination-item-ellipsis{
  color: #4477ba !important;
}
.ant-pagination-item-active {
  background: var(--avtive-bg-color);
}
.ant-picker, .ant-input{
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color);
  color: var(--font-color-white)
}
.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panel {
  background-color: #0c2841;
  border-color: var(--input-border-color);
}
.ant-picker-dropdown .ant-picker-header button {
  color: white;
}
.ant-picker-dropdown .ant-picker-content th {
  color: white;
}
.ant-picker-dropdown .ant-picker-cell {
  color: rgba(255, 255, 255, .4);
}
.ant-picker-dropdown .ant-picker-cell-in-view {
  color: white;
}
.ant-picker-dropdown .ant-picker-time-panel-cell-inner{
  color: var(--font-color-white) !important;
}
.ant-picker-dropdown .ant-picker-time-panel-cell-inner:hover{
  background: #1890ff !important;
}
.ant-picker-dropdown .ant-picker-time-panel-cell-selected > .ant-picker-time-panel-cell-inner{
  background: #1890ff !important;
}
.ant-picker-dropdown .ant-picker-header{
  border-color: var(--input-border-color);
}
.ant-picker-dropdown .ant-picker-panel .ant-picker-footer{
  border: unset;
}
.ant-picker-datetime-panel .ant-picker-time-panel, .ant-picker-time-panel-column:not(:first-child) {
  border-left: 1px solid var(--input-border-color);
}
.ant-picker-dropdown .ant-picker-header-view{
  color: var(--font-color-white);
}
.ant-picker-cell .ant-picker-cell-inner:hover{
  background: #1890ff !important;
}
.ant-picker-suffix{
  color: var(--font-color-white)
}
.ant-picker-input input {
  color:#fff;
}
.ant-form-item-control-input-content{
  display: flex;
  align-items: center;
  input{
    background-color: var(--input-bg-color);
    border-color:var(--input-border-color);
    color:var(--font-color-white)
  }
}
.ant-checkbox-inner {
  width: 18px;
  height: 18px;
  background: #144587;
  border: 1px solid #396eb4;
}
.ant-divider-vertical{
  border-left: 1px solid #999;
}
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: unset;
}
.ant-checkbox-disabled+span{
  color: #999;;
}
// .ant-divider-horizontal{
//   margin: 15px 0;
//   border-top: #1d579b !important;
// }